$color-1: rgb(109, 238, 109);
$color-2: rgb(0, 217, 255);
$customBorder: 30px solid;

@mixin seatBorder($color) {
    border: 3px solid $color;
}

@mixin generalSize() {
    width: 45px;
    height: 35px;
    border-radius: 5px;
}

.headingTop {
    margin-top: 90px;
}

.screen {
    border-bottom: $customBorder gray;
    border-left: $customBorder transparent;
    border-right: $customBorder transparent;
    height: 0;
    width: 80%;
    opacity: 0.4;
    filter: drop-shadow(0px 128px 63px rgba(8, 8, 8, 0.38));
}

.emptySeats {
    @include seatBorder(white);
    font-size: 1rem;
    margin-left: 2%;
    margin-bottom: 1%;
    @include generalSize();
}

.rowNumber {
    background: none;
    border: none;
    margin-left: 2%;
    padding-left: 3.9%;
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: 700;
    color: yellow;
    @include generalSize();
}

.firstChar {
    color: yellow;
    font-size: 35px;
    margin-right: 15px;
}


.bookedSeat {
    @include seatBorder(orange);
    background-color: orange;
    font-size: 1rem;
    margin-left: 2%;
    margin-bottom: 1%;
    color: black;
    cursor: no-drop !important;
    @include generalSize();
}

.checkoutSeat {
    @include seatBorder($color-2);
    background-color: $color-2;
    color: black;
    cursor: no-drop !important;
    @include generalSize();
}

.selectedSeat {
    @include seatBorder($color-1);
    background-color: $color-1;
    color: black;
    cursor: pointer;
    @include generalSize();
}

.customizeRows {
    margin-left: 8.2%;
    margin-top: 15px;
}