$color-1: #0354a5;
$defaultSize: 60px;
$borRad: 10px;

.box {
    margin-top: 100px !important;
    padding: 30px;
    background-color: white;
    border-radius: $borRad;
}

.icon {
    width: $defaultSize;
    height: $defaultSize;
    background-color: $color-1;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.inputCustom {
    height: $defaultSize;
    background: white;
    color: black !important;
    font-size: 17px !important;
    border-radius: $borRad !important;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid $color-1 !important;
    }
}

.btnSignin {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 20px !important;
    height: $defaultSize;
    color: white !important;
    background-color: $color-1 !important;
    border-radius: $borRad !important;
}