.container {
    width: 70%;
    // margin: auto;
    margin: 70px auto;

}

.detailFormat {
    margin-top: 150px !important;
    position: relative;
    height: 350px;
    padding-left: 30px;
}

.movieImg {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
}

.ratedImg {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.star {
    color: rgb(251, 66, 38);
    display: inline;
}

.starGroup {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    // text-align: center;
}

.movieTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    text-transform: uppercase;
}

.purchaseButton {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 370px;
    text-transform: uppercase;
    background-color: #108f3e;
    color: white;
}

.detailFormat .purchaseButton:hover {
    transition: all .5s !important;
    color: #108f3e;
    background-color: white;
}

.noPurchaseButton {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 370px;
    text-transform: uppercase;
    color: gray;
    cursor: no-drop;
}


.trailerButton {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    background: linear-gradient(to top, #000, transparent 100%);
    transition: all 40s;
    // visibility: hidden;
    border-radius: 4px;

    .playButton {
        top: 50%;
        left: 50%;
        width: 60px;
        border: none;
        height: 60px;
        z-index: 3;
        position: absolute;
        transform: translate(-50%, -50%);
        background: transparent;
        display: block !important;

        &:hover img {
            opacity: 0.6 !important;
        }

    }
}

iframe,
.trailerModal {
    position: absolute !important;
    top: 50% !important;
    left: -7% !important;
    z-index: 888888;
}

.description {
    color: gray;
    margin-bottom: 10px;
    display: block;
}