$primary-color: rgb(0, 128, 255);

.header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    opacity: .9;
    z-index: 999;
}

.navLink {
    color: black !important;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 700 !important;

    &:hover {
        color: $primary-color !important;
    }
}

.userLink {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: all .5s;

    &:hover {
        color: $primary-color;
    }
}

.borderRight {
    border-right: 2px solid black;
}