.movieImg {
    max-height: 330px;
    position: relative
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagMovie {
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    min-width: 33px;
    background: #fb4226;
    text-align: center;
    margin-right: 8px;
    border-radius: 4px;
}

.movieTitle {
    color: #000000;
    height: 45px;
    opacity: 1;
    overflow: hidden;
    font-size: 18px;
    max-height: 45px;
    visibility: visible;
    font-weight: 500;
    line-height: 22px;
}

.orderButton {
    bottom: 20px;
    left: 0;
    width: 100%;
    display: block;
    display: none !important;
    padding: 12px 8px;
    position: absolute;
    font-size: 18px;
    background: linear-gradient(to left, #fb4226, #ce3017 100%);
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition-delay: 0.1s !important;
    transition: all 0.5s;
}

.movieCard {
    overflow: hidden !important;
    border-width: 0 !important;
}

.movieCard:hover {
    .orderButton {
        color: #fff;
        display: block !important;
        transition-delay: 1s;
    }

    .movieTitle {
        opacity: 0;
    }

    .trailerButton {
        top: 0;
        width: 100%;
        height: 80%;
        opacity: 0;
        position: absolute;
        background: linear-gradient(to top, #000, transparent 100%);
        transition: all 40s;
        visibility: hidden;
        border-radius: 4px;
    }

    .playButton {
        display: block !important;
    }

    .description {
        display: none !important;
    }
}

// button play
.playButton {
    top: 50%;
    left: 50%;
    width: 60px;
    border: none;
    height: 60px;
    z-index: 3;
    position: absolute;
    transform: translate(-50%, -50%);
    background: transparent;
    display: none !important;
}

.playButton:hover img {
    opacity: 0.6 !important;
}

iframe,
.trailerModal {
    position: absolute !important;
    top: 50% !important;
    z-index: 888888;
}