.movieImg {
    height: 314px;
    width: 100%;
    position: relative
}

.movieTitle {
    color: #000000;
    height: 42px;
    opacity: 1;
    overflow: hidden;
    font-size: 18px;
    max-height: 45px;
    visibility: visible;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}

.sliderContainer {
    max-width: 960px;
    margin: auto;
}

.orderButton {
    bottom: 20px;
    left: 0;
    width: 100%;
    display: block;
    display: none !important;
    padding: 12px 8px;
    position: absolute;
    font-size: 18px;
    background: linear-gradient(to left, #fb4226, #ce3017 100%);
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition-delay: 0.1s !important;
    transition: all 0.5s;
}

.movieCard {
    overflow: hidden !important;
    border-width: 0 !important;
    max-height: 420px;
    width: 100%;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // margin-bottom: 10px !important;
    height: 40px;
}

.movieCard:hover {
    .orderButton {
        color: #fff;
        display: block !important;
        transition-delay: 1s;
    }

    .movieTitle {
        opacity: 0;
    }

    .trailerButton {
        top: 0;
        width: 100%;
        height: 79%;
        opacity: 0;
        position: absolute;
        background: linear-gradient(to top, #000, transparent 100%);
        transition: all 40s;
        visibility: hidden;
        border-radius: 4px;
    }

    .playButton {
        display: block !important;
    }

    .description {
        display: none !important;
    }
}

.playButton {
    top: 50%;
    left: 50%;
    width: 60px;
    border: none;
    height: 60px;
    z-index: 3;
    position: absolute;
    transform: translate(-50%, -50%);
    background: transparent;
    display: none !important;
}

.playButton:hover img {
    opacity: 0.6 !important;
}

iframe,
.trailerModal {
    position: absolute !important;
    top: 50% !important;
    left: -7% !important;
    z-index: 888888;
}

@media screen and  (max-width: 991px) {
.sliderContainer {
    margin: 0 100px !important;
    .movieTitle {
        font-size: 17px;
     }
     .description {
        font-size: 15px;
     }
}
}

@media screen and  (max-width: 768px) {
    .sliderContainer {
        margin: 0 65px !important;
         .movieTitle {
            font-size: 16px;
         }
         .description {
            font-size: 14px;
         }
    }
   
    }

@media screen and (max-width: 576px) {
    .sliderContainer {
         .movieTitle {
            font-size: 14px;
         }
    }
}



// @media screen and (max-width: 420px) {
//     .sliderContainer {
//         margin: 0 120px !important;
//          .movieTitle {
//             font-size: 14px;
//          }
//     }
// }
